* {
    margin: 0;
    font-family: 'Amazon Ember', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
}

h2{
    font-size: 21px;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo {
    height:50px;
    width:100px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width:100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px groove white;
}

.add-1 {
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-2 {
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}

.nav-icon {
    display: flex;
    align-items: center;
}

  /**box3**/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    background-color:orange;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 50px;
    text-align: center;
   
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}
/** box4 **/
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight:700;
}
 
.pannel {
    display: flex;
    height:35px;
    background-color: #222f3d;;
    color: white;
    justify-content:space-evenly;
    align-items: center;
}

.pannel-all {
    font-size: 0.85rem;
    font-weight: 700;
   
}
.pannel-ops p{
    display: inline;
    margin-left: 15px;
}

.pannel-ops {
    width:80%;
    font-size: 0.85rem;
   
}

.pannel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}
 
/** hero section**/
.hero-section {
    background-image: url(./hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:95%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

.imageContainer{
    position: relative;
}
.imageList{
    display: flex;
    overflow: hidden;
}

.imageItem{
    min-width: 100%;
    transition : transform 0.3s;
    height: 600px;
    /* transform: translateX(-100%); */
}

.imageItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: scale(1.05); */
}

.imageBtnContainer{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.slider-btn{
    border: 1px solid transparent;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 200;
    background-color: transparent;
    color: black;
    margin: 2px;
}

.slider-btn:focus{
    border-color: seagreen;
}

/* card section */
main{
    position: relative;
    top: -300px;
    margin-bottom: -340px;
}

.mains{
    /* background-color: #E3E6E6; */
    padding-left: 10px;
    display: flex;
    background-image: linear-gradient(to bottom, transparent calc(100% - 150px), #E3E6E6 calc(100% - 150px));
}

.card-product-container{
    padding: 20px 10px;
}

.card-product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    background-color: white;
}

.card-product a{
    color: #007185;
    display: inline-block;
    padding: 20px;
}

.card-product h2{
   padding: 25px 10px;
}


.cart-product-nested-card{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.card-nested{
    margin-bottom: 10px;
    
}

.card-nested img{
    width: 128px;
    height: 102px;
    object-fit: cover;
}

.card-nested p{
    color: #454949;
    font-size: 14px;
}

/* shopping section */
.shop-section {
    display:flex;
    justify-content: space-evenly;
    background-color: #E3E6E6;
    flex-wrap: wrap;
}

.box {
    height: 400px;
    background-color: white;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 20px;
}

.image {
    height: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    width: 100%;
}

.box-content {
    height:100%;
    margin-left: 10px;
    margin-right: 10px;
}

.box a {
    color: #007185;
} 

/* carousel */

.carousel{
    height:340px;
    width: 100%;
    padding: 20px 20px 25px 20px;
    background-color: #E3E6E6;
}

.slider-wrapper{
    height: 100%;
    width:100%;
    padding: 20px 20px 35px 20px;
    background-color: white;
    position: relative;
}

.image-list {
    display: flex;
    margin-top: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.image-list::-webkit-scrollbar {
    height: 6px; 
}

.image-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.image-list::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px; 
    cursor: pointer;
}

.image-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.image-list li{
    list-style: none;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.l-btn, 
.r-btn{
    background-color: rgb(255,255,255,1);
    height:90px;
    width:50px;
    text-align: center;
    cursor:pointer;
    top:30%;
    position: absolute; 
    border:2px solid transparent; 
}

.l-btn{
    border-radius: 0 5px 5px 0;
    left:10px;
}

.r-btn{
    border-radius: 5px 0 0 5px;
    right:10px;
}

.l-btn:hover{
    border: 3px solid rgb(2,150,150);
}

.r-btn:hover{
    border: 3px solid rgb(2,150,150);
}

.r-btn i, .l-btn i{
    color: rgb(54,54,54);
    position:absolute;
    font-size: 30px;
    top:35%;
    left:12%;
    right:12%;
}

/* section */

section{
    background-color: #E3E6E6;
    display: flex;
    padding-left: 10px;
}

.card_product_container{
    padding: 20px 10px;
}
   /** footer**/

 footer {
    margin-top: 40px;

}  

.foot-pannel-2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem; 
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

.foot-pannel-3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-pannel-4 {
    background-color:  #0F1111;;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

.pages {
    font-size: 0.7rem;
    
}

.copyright {
    font-size: 0.7rem;
    
}