* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
::selection {
    background-color: #8BC34A;
}
/* Navbar Starts here */
.logos1 img{
    height: 100px;
    width: 160px;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

a:hover {
    color: #8BC34A;
    text-decoration: none;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #F8F3F6;
}

.navbar {
    width: 100%;
    height: 110px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-family: "Merriweather",serif;
}

.navbar .links,.links2 {
    display: flex;
    gap: 2rem;
}

.navbar .links {
    margin-right: auto;
}

.navbar .links2 .fa-basket-shopping {
    color: #8BC34A;
}

.navbar .links2 .fa-user {
    color: black;
}

ul li a {
    font-size: 20px;
    color: #333333;
    
}

.navbar .toggle_btn {
    color: #F8F6F3;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    background-color: #8BC34A;
    padding: 10px 15px;
}


.dropdown_menu {
    display: none;
    position: relative;
    left: 0; 
    right: -100%;   
    top: 0;
    height: 0;
    width: 100%;
    background: white;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: all.5s;
    
}

.dropdown_menu.open{
    height: 90vh;  
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    border-bottom: 0.1px solid #ccc;
}



/* Responsive */
@media (max-width: 992px){
    .navbar .links,.navbar .links2{
        display:none;
    }

    .navbar .toggle_btn {
        display : block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px){
    .navbar .links,.navbar .links2{
        display:none;
    }



    .navbar .toggle_btn {
        display : block;
    }

    .dropdown_menu {
        display: block;
    }
}

/* Navbar Ends Here */



/* Hero section Starts Here */
.center-block .col-xs-6 {
    height: 100px;
    width : 100px;
    background-color: blueviolet;
    border: 2px solid black;
}

.hero {
    height: auto;
}

#hero_photo{
    margin-top: 7.5rem;
    margin-left: -3.5rem;
}

#hero_section_2 {
    margin-top: 10rem;
    margin-left: 5rem;
    height: 450px;
    width: 300px;
    margin-right: -10rem;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

#hero_section_2 h1 {
    font-size: 4rem;
    font-family: 'Merriweather',serif !important;
    font-weight: 800;
    line-height: 4rem;
}

#hero_section_2 h5{
    font-size: 1.25rem;
    font-family: 'Merriweather',serif !important;
}

#hero_section_2 button {
    padding: 10px 28px;
    background-color: #6A9739;
    color: white;
}

#hero_section_2 button:hover {
    background-color: #8BC34A;
    font-weight: 500;
}

.background_image {
    position: relative;
}

.background_image::before{
    background-image: url(./images/logo-leaf-new.png);
}

/* Hero section Ends Here */

/* Offer starts here */
.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100vw;
    height: 10rem;
    gap: 10rem;
}

.offer #offer-btn{
    padding: 10px 28px;
    background-color: #6A9739;
    color: white;
}

.offer #offer-btn:hover {
    background-color: #8BC34A;
    font-weight: 500;
}

/* Offer ends here */

/* logo */
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    gap: 2rem;
}
/* logo */

/* customer reviews */
.customer-reviews {
    gap: 5vmin;
    width: 100vw;
    height: 100vh;
}

.card #customer1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
}

.card-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#customer_one , #customer_three {
    width: 60vmin;
    height: 20rem;
    margin-top: auto;
}

.five-star i{
    color: orange;
}

.card-body {
    height: 20rem;
}

#customer_two{
    width: 60vmin;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.6)),url(./images/customer-reviews.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: 400;
    gap: 1.5rem;
    margin-top: auto;
}

#customer_two:hover{
    opacity: 1; /* Change the opacity on hover */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/customer-reviews.jpg);
}

#customer_two button {
    padding: 10px 28px;
    background-color: #6A9739;
    color: white;
}

#customer_two button:hover {
    background-color: #8BC34A;
    font-weight: 500;
}

.card p {
    text-align: center;
    font-size: 18px;  
}

/* Fruits Section Starts Here */

.fruits {
    gap: 2rem;
    height: 40rem;
    align-items: center;
    
}

.fruits .box {
    background-color: white;
    height: 60vh;
    border-radius: 0.5rem;
    border: none;
    width : 30vw;
    padding: 20px 30px 10px 40px;
    position: relative;
    overflow: hidden;
}

.fruits .box h2,
.fruits .box p,
.fruits .box button {
    position: relative;
    z-index: 2; /* Ensure these elements are displayed above the image */
}

.fruits .fuits-btn{
    padding: 10px 28px;
    background-color: #6A9739;
    color: white;
    margin-bottom: 0;
}

.fruits .fuits-btn:hover {
    background-color: #8BC34A;
    font-weight: 500;
}

.box1 img ,.box2 img , .box3 img{
    max-width: none; 
    width: auto;
    height: 300px;
    border: none;
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover; 
    /* Ensure the image covers the entire container */

    
}

/* Fruits Section Ends Here */

/* Icon starts Here */
.icon {
    background-color: black;
    height: 14rem;
    width: 100vw;
    
}

.icon-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.item-icon {
    background-color: #333333;
    color: white;
    width: 21rem;
    height: 9rem;
    margin: 1.6rem 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item-icon a {
    color: #8BC34A;
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* Icon ends Here */



/* Footer Starts Here */

footer {
    background-color: #001524;
    height: 90vh;
}

footer div .col-lg-4{
    margin-top: 5rem;
}

section .container ul li {
    color : red;
}

#google, #apple {
    height: 40px;
}

.text-color1 {
    color: #FFFFFFA8;
}

.text-color1:hover, .text-color2:hover {
    color: white;
}

.text-color2 {
    color: #8BC34A;
}

/* End */
